<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Restaurants Tab -->
  <ion-tab title="Restaurants" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" href="#/tab/restaurants">
    <ion-nav-view name="tab-restaurants"></ion-nav-view>
  </ion-tab>

   <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>